<launch>
    <group>
        <include file="$(find rasberry_hri)/launch/d415_2_cameras.launch"/>

        <!-- Set to match the cameras that are launched in the include file (camera launch script) -->
        <arg name="topic_prefixes" default="top,mid,bot"/> <!-- Separate topic_prefixes with commas -->

        <node pkg="rasberry_hri" name="skeleton_extractor" type="skeleton_extractor.py" output="screen">
            <!-- <param name="topic_prefixes" value="$(arg topic_prefixes)"/> -->
        </node>
    </group>
</launch>
